.container {
  background-color: #fff;
  width: 400px;
  padding: 2rem 2rem;

  h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__delete-reminder-wrapper {
    margin: 0.5rem 0;
    color: #f02424;
    text-align: center;

    b {
      cursor: pointer;
    }
  }
}
