.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }

  .buttons-wrapper {
    display: flex;
    gap: 1rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    margin: 0 auto;
    width: 800px;

    li {
      border: 1px solid black;
      height: 120px;
      margin: 0 -1px -1px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .header {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .reminders {
        width: 100%;

        .reminder-wrapper {
          color: #fff;
          width: 110px;
          text-overflow: ellipsis;
          padding: 0 0.5rem;
          background-color: #3471eb;

          b {
            font-weight: 500;
            width: 50px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
