.container {
  display: flex;
  column-gap: 0.5rem;

  svg {
    font-size: 1.5rem;
  }

  &__color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: #fff;
      font-size: 1.2rem;
    }
  }
}
